<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

    <body class="bg-light">
        <%- include('partials/header') %>

        <main class="container">
            <div class="row mt-1 mb-5 pb-5 g-3">
                <% channel_list.forEach( channel => { %>
                    <div class="col-md-4">
                        <div class="card text-center shadow-sm">
                            <h5 class="card-header bg-dark text-light"><%= channel.title %></h5>
                            <div class="card-body">
                                <h3 class="card-title"><%= channel.status %></h3>
                                <p class="card-text text-muted">Price multiply: <span class="ms-2 rounded-pill badge bg-secondary"><%= channel.percentage %> %</span></p>
                                <hr>
                                <a href="#" class="btn btn-primary px-3">Available Items</a>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-sm btn-outline-warning">Update</a>
                                <a href="#" class="btn btn-sm btn-outline-danger ms-2">Delete</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </main>

        <%- include('partials/footer') %>
    </body>

</html>
